*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: space-between;
    min-height: 40vh;
}

.navigation{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 0.5em;
    a{
        text-decoration: none;
        color: white;
        background-color: rosybrown;
        flex: 1;
    }
    a + a{
        margin-top: 0.5em;
    }
}

.main_body {
    background-color: red;
    flex: 1;
    padding: 0.5em;
}